body{
    background-color: #ffffff;
}

h1{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #353535;
  text-align: center;
  font-size: 2.986rem;
}
h2{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #353535;
  text-align: center;
  font-size: 2.488rem;
}
