body{
    background-color: #181818;
}

h1{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e7e7e7;
}
p{
    font-family: "Roboto Flex", sans-serif;
    color: #e7e7e7;
}

svg{
    color: #e7e7e7;
}