body{
    background-color: #ffffff;
}

h1{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #353535;
  text-align: center;
}
h2{
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #353535;
  text-align: center;
}
